<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    a:hover {
        opacity: 0.8;
    }
    </style>
</head>

<body>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 text-black">

                    <div class="px-5 ms-xl-4 p-3">
                        <img src="./img/Logo.png" alt="Logo">
                    </div>

                    <div class="px-5 ms-xl-4 mt-5">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <a href="/login" style="color: #112211;">Back to login</a>
                    </div>

                    <div class="h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5" style="height: auto; margin-top: 19.5px;">

                        <form action="/forgotpassword" method="POST">

                            <h2 class="mb-3"
                                style="letter-spacing: 1px; font-size: 40px; font-weight: 700; line-height: 51px;">
                                Forgot your password?
                            </h2>

                            <p
                                style="font-weight: 400; font-size: 16px; line-height: 19.5px; opacity: 0.75; margin-bottom: 48px;">
                                Don't worry, happens to all of us. Enter your email below to recover your password
                            </p>
                            {{#if error}}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                <strong>Failed!</strong> {{error}}
                            </div>
                            {{/if}}
                            {{#if success}}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                <strong>Sucess!</strong> {{success}}
                            </div>
                            {{/if}}

                            <div class="form-outline">
                                <label class="form-label" for="email">Email</label>
                                <input required type="email" id="email" name="email"
                                    class="form-control form-control-lg" />
                            </div>

                            <div>
                                <input class="btn-login btn btn-lg btn-block w-100" value="Submit" type="submit"
                                    name="check-email" style="background-color: #8DD3BB; margin-top: 32px;" />
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-sm-6 d-none d-sm-none d-md-none d-lg-block">
                    <img src="./img/Group 4.png" alt="Login image" style="height: 684px;">
                </div>
            </div>
        </div>
    </section>
</body>

</html>