    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .btn-login:hover {
            opacity: 0.8;
        }

        a {
            text-decoration: none;
            color: #FF8682;
        }

        @media (min-width: 1025px) {
            .h-custom-2 {
                height: 100%;
            }
        }
    </style>
</head>

<body>
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 text-black">

                    <div class="px-5 ms-xl-4 p-3">
                        <img src="./img/Logo.png" alt="Logo">
                    </div>

                    <div class="h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-5 mt-xl-n5" style="height: auto">

                        <form id="form-login" action="/login" method="POST">

                            <h2 class="mb-3"
                                style="letter-spacing: 1px; font-size: 40px; font-weight: 700; line-height: 51px;">
                                Log in
                            </h2>

                            <p
                                style="font-weight: 400; font-size: 16px; line-height: 20px; opacity: 0.75; margin-bottom: 48px;">
                                Login to access your StarLine account
                            </p>
                            {{#if messages.error}}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                <strong>Failed!</strong> {{messages.error}}
                            </div>
                            {{/if}}
                            {{#if success}}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                <strong>Sucess!</strong> {{success}}
                            </div>
                            {{/if}}



                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email address</label>
                                <input type="text" id="email" name="email" value="" required
                                    class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example28">Password</label>
                                <div class="input-group mb-3">
                                    <input class="form-control form-control-lg" id="password" required name="password"
                                        value="" style="border-right: none">
                                    <span class="input-group-text" style="background-color: #fff;">
                                        <i class="fa fa-eye-slash" id="togglePassword" style="cursor: pointer"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" name="remember"
                                        id="rememberme" />
                                    <label class="form-check-label" for="rememberme">
                                        Remember me
                                    </label>
                                </div>
                                <a href="/forgotpassword">Forgot password?</a>
                            </div>

                            <div class="mb-3">
                                <button class="btn-login btn btn-lg btn-block w-100" type="submit" name="login"
                                    style="background-color: #8DD3BB; margin-top: 40px;" />Login </button>
                            </div>

                            <p class="text-center" style="margin-bottom: 15px;">Don't have an account? <a
                                    href="/register">Register here</a> </p>

                            <div class="btn-login btn btn-lg btn-block w-100" style="background-color: #8DD3BB;">
                                <a style="color:black;" id="google_login" href="/auth/google" style="color:black;">
                                    Login with Google <i class='fab fa-google'></i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 d-none d-sm-none d-md-none d-lg-block">
                    <img src="./img/Group 4.png" alt="Login image" class="" style="height: 684px">
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    document.getElementById("email").focus();
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");
    password.setAttribute("type", "password");

    togglePassword.addEventListener("click", function () {

        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        // toggle the eye icon
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
    });
</script>

</html>