<div class="row">
    <div class="col-md-5">
        <div class="card border-top border-0 border-4 border-primary">
            <div class="card-body p-5">
                <div class="card-title d-flex align-items-center">
                    <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                    </div>
                    <h5 class="mb-0 text-primary">Quản Lý Hãng Bay</h5>
                </div>
                <hr>
                <form class="row g-3">
                    <div class="col-md-12">
                        <label class="form-label">Tên hãng bay</label>
                        <input id="airline_name" type="text" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Logo hãng bay</label>
                        <input id="airline_logo" type="text" class="form-control">
                    </div>
                    <div class="col-12 text-end">
                        <button id="createAirline" type="button" class="btn btn-primary px-5">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>     
    </div>
    <div class="col-md-7">
        <div class="card border-top border-0 border-4 border-primary">
            <div class="card-body">
                <div class="card-title d-flex align-items-center">
                    <h5 class="mb-0 text-primary">Danh Sách Hãng Bay</h5>
                </div>
                <div class="table table-responsive">
                    <table class="table mb-0 table-hover">
                        <thead>
                            <tr class="text-center text-nowrap">
                                <th scope="col" >#</th>
                                <th scope="col">Tên hãng bay</th>
                                <th scope="col">Logo hãng bay</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each airlines}}
                            <tr class="text-nowrap text-center">
                                <th class="align-middle">{{incremented @index }}</th>
                                <td class="align-middle">{{airline_name}}</td>
                                <td>
                                    <img src="{{airline_logo}}" alt="">
                                </td>
                                <td class="text-nowrap text-center align-middle">
                                    <button type="button" class="btn btn-primary px-5 updateAirline" data-id="{{_id}}" data-bs-toggle="modal" data-bs-target=".updateModal">Sửa</button>
                                    <button type="button" class="btn btn-danger px-5 ml-3 deleteAirline" data-id="{{_id}}">Xóa</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa thông tin chuyến bay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <input type="hidden" id="_id">
                    <div class="col-md-12">
                        <label class="form-label">Tên hãng bay</label>
                        <input id="airline_name_update" type="text" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Logo hãng bay</label>
                        <input id="airline_logo_update" type="text" class="form-control">
                    </div>
                    <div class="col-12 text-end">
                        <button id="createAirline" type="button" class="btn btn-primary px-5">Xác nhận</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmUpdate">Save changes</button>
            </div>
        </div>
    </div>
</div>
{{#section 'js'}}
<script src="../js/manage-airlines.js"></script>
{{/section}}
