<!-- Bootstrap JS -->
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
{{!-- <script src="../assets/js/jquery.min.js"></script> --}}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="../assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="../assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="../assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="../assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="../assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="../assets/plugins/chartjs/js/Chart.min.js"></script>
<script src="../assets/plugins/chartjs/js/Chart.extension.js"></script>
<script src="../assets/js/index.js"></script>
<script src="https://kit.fontawesome.com/06e5ce08d2.js" crossorigin="anonymous"></script>
<script src="../assets/plugins/notifications/js/lobibox.min.js"></script>
	<script src="../assets/plugins/notifications/js/notifications.min.js"></script>
	<script src="../assets/plugins/notifications/js/notification-custom-script.js"></script>
<!--app JS-->
<script src="../assets/js/app.js"></script>